/* ===========================header setting 特殊設定=========================== */

body.about header .function_list>i {
    /* about專屬淺色 */
    color: var(--c-text-light); /* #dadada */
}

body.about header nav {
    /* about專屬淺色 */
    color: var(--c-text-light); /* #dadada */
}

body.about {
    background-color: var(--c-secondary); /* #001F3F */
    background-image: url(../image/1_about/linear_top.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 180px

}

.story p,
.history .discription .text p {
    color: var(--c-text-light); /* #dadada */
}

.history .timeline li.future {
    color: var(--c-text-white); /* #fff */
}

.history .timeline li.current {
    color: var(--c-secondary); /* #001F3F */
}

.history .timeline li.past {
    color: var(--c-text-main); /* #181818 */
}

.story h2,
.history h2,
.history .discription .text span {
    color: var(--c-primary); /* #CCA455 */
}

body.about .banner {
    height: 280px;
    display: flex;
}


body.about .banner_title {
    font-family: var(--font-banner); /* "Outfit", sans-serif */
    font-size: var(--fs-5xl); /* 78px */
    font-weight: var(--fw-black); /* 900 */
    letter-spacing: var(--ls-base); /* 0.05em */
    color: var(--c-text-light); /* #dadada */
    margin: auto;
}

.story {
    display: flex;
    padding-top: 90px;
    padding-bottom: 270px;
}

.story .text {
    padding-right: 50px;
}

.story .text h2 {
    padding-bottom: 1em;
}

.story .text p:first-of-type~p {
    padding-top: 1em;
}

.story .pic {
    position: relative;
    padding: 0;
}

.story .pic::before {
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    width: 710px;
    height: 470px;
    border: 1px solid var(--c-primary); /* #CCA455 */
}

.story .pic::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 710px;
    height: 470px;
    border: 1px solid var(--c-primary); /* #CCA455 */
}

.history h2 {
    text-align: center;
    padding-bottom: 80px;
}



ol {
    display: flex;
    justify-content: space-evenly;
    position: relative;

}

ol::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: var(--c-primary); /* #CCA455 */
    top: 50%;
    z-index: -1;
}

.timeline-decor {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0;
    transform: translateY(-50%);
}

.timeline-decor::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 3%;
    width: 8px;
    height: 8px;
    border-top: 2px solid var(--c-primary); /* #CCA455 */
    border-left: 2px solid var(--c-primary); /* #CCA455 */
    transform: translateY(-50%) rotate(135deg) skew(15deg, 15deg);
}

.timeline-decor::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 3.7%;
    width: 8px;
    height: 8px;
    border-top: 2px solid var(--c-primary); /* #CCA455 */
    border-left: 2px solid var(--c-primary); /* #CCA455 */
    transform: translateY(-50%) rotate(135deg) skew(15deg, 15deg);
}


ol li {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-lg); /* 20px */
    line-height: var(--lh-tight); /* 120% -> 1.2 */
    letter-spacing: var(--ls-base); /* 0.05em */
    font-weight: var(--fw-bold); /* 700 */

}

ol li.past {
    background-color: var(--c-bg-gray); /* #7f7f7f */
}

ol li.current {
    background-color: var(--c-text-light); /* #dadada */
    position: relative;
}

ol li.current::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border: 2px solid var(--c-text-light); /* #dadada */
    border-radius: 100%;
    left: -5px;
    top: -5px;
}

ol li.current::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border: 2px solid var(--c-text-light); /* #dadada */
    border-radius: 100%;
    left: 5px;
    top: 5px;
}

ol li.future {
    background-color: var(--c-primary); /* #CCA455 */
}


.discription {
    margin: 80px 0 315px;
    display: flex;
    position: relative;
}


.discription::before {
    position: absolute;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: '\f053';
    color: var(--c-text-light); /* #dadada */
    font-size: var(--fs-3xl); /* 40px */
    left: 0;
    top: 50%;
    transform: translate(-250%, -50%);
}

.discription::after {
    position: absolute;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: '\f054';
    color: var(--c-text-light); /* #dadada */
    font-size: var(--fs-3xl); /* 40px */
    right: 0;
    top: 50%;
    transform: translate(250%, -50%);
}

.discription .pic {
    display: flex;
    justify-content: end;
    height: fit-content;
    position: relative;
}

.discription .pic.square::before {
    content: "";
    position: absolute;
    right: 20px;
    top: -10px;
    width: 467px;
    height: 467px;
    border: 1px solid var(--c-primary); /* #CCA455 */
}

.discription .pic img {
    width: 467px;
    height: auto;
}

.discription .text_pic_wrap {
    display: flex;
    flex-direction: column;
    gap: 62px;
    align-items: baseline;
}

.discription .text_pic_wrap .text {
    padding: 0 50px;
}

.discription .text_pic_wrap span {
    display: block;
    padding-bottom: 24px;
}

.discription .text_pic_wrap .pic {
    padding-left: 132px;
}

.discription .pic.rectangle::before {
    content: "";
    position: absolute;
    right: -10px;
    top: 10px;
    width: 467px;
    height: 309px;
    border: 1px solid var(--c-primary); /* #CCA455 */
}