.banner_product {
    background-image: url(../image/4_product/linear_btn_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -100px;
    padding-top: 150px;
    padding-bottom: 100px;
    margin-bottom: 100px;

}

.banner_product .container {
    display: flex;
}

.banner_product .container .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_product h2.banner_title {
    margin: 0;
    line-height: var(--lh-tight);
    /* 120% -> 1.2 */
}

.banner_product p {
    color: var(--c-text-white);
    /* #fff */
    padding-top: 60px;
    padding-right: 20%;
}

.banner_product .pic {
    position: relative;
    width: 100%;
    max-width: 710px;
    height: 100%;
    padding: 0;
    margin-left: 10px;
}

.banner_product .pic::before {
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid var(--c-primary);
    /* #CCA455 */
    position: absolute;
    left: 10px;
    top: 10px;
}

.banner_product .pic::after {
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid var(--c-primary);
    /* #CCA455 */
    position: absolute;
    left: -10px;
    top: -10px;
}


.banner_product .pic img {
    width: 100%;
    height: auto;
    display: block;
}

.filter_search {
    padding: 50px 0 30px;
    display: flex;

}

.product_cardlist .card {
    margin: 20px 0;
}

.product_cardlist.row {
    margin: 0 -10px;
}


@media screen and (max-width: 1200px) {

    body.general .banner_title {
        font-size: var(--fs-4xl);
    }

    .banner_product .text .fs-lg {
        font-size: var(--fs-md);
    }

    .banner_product .text.col-6 {
        width: 50%;
    }

    .banner_product .pic.col-6 {
        width: 50%;
    }


}

@media screen and (max-width: 920px) {

    .col-3 {
        width: 33.333333%;
    }


}

@media screen and (max-width: 768px) {

    .col-3 {
        width: 50%;
    }

    .banner_product .text .fs-lg {
        font-size: var(--fs-base);
    }


    .product_cardlist .product_description.hovershow {
        position: static;
        width: auto;
        height: auto;
        aspect-ratio: auto;
        opacity: 1;
        background-color: transparent;
        color: var(--c-text-main);
        margin-top: 15px;
        display: block;
    }

    .product_cardlist .product_description.hovershow p {
        padding: 0;
    }

    .pic.col-6 {
        align-self: center;
    }

    .cardinner h3.fs-xl{
        font-size: var(--fs-lg);
    }
}

@media screen and (max-width: 576px) {

    .product_cardlist.row{
        justify-content: center;
    }

    .col-3 {
        width: 80%;
    }

    .banner_product .container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .banner_product .container .text{

        width: 100%;
        padding: 0;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .banner_product .container .text h2{
        text-align: center;
    }

    .banner_product .container .text p{
        padding: 0;
    }

    body.general .banner_title {
        font-size: var(--fs-4xl);
    }

    .banner_product .pic.col-6 {
        width: 70%;
    }


}