.filter_search{
    margin: 45px 0 35px;
}

.search_area{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}



.card_wrap.col-9{
    margin: 0 -10px;
}

.card_wrap .card{
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid var(--c-primary); /* #CCA455 */
    padding: 40px 0;
    margin-right: 40px;
}

.card_wrap .card:nth-last-child(1){
    padding: 40px 0 0 0;
    border: none;
}

.pic.col-5{
    margin: 0 -10px;
}

.program img{
    display: block;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}


.location_time{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.location_time i {
    font-size: var(--fs-lg); /* 20px */
}

.location, .time{
    display: flex;
    align-items: center;
    gap: 10px;
}

.location_time .icon{
    display: flex;
    display: center;
    align-items: center;
}

.calendar_widget{
    border: 1px solid var(--c-primary); /* #CCA455 */
    border-radius: 20px;
    padding: 20px 10px;
}

.calendar_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar_header button{
    width: 35px; 
    height: 35px;
    font-size: var(--fs-lg); /* 20px */
    color: var(--c-primary); /* #CCA455 */
    border: none;
    margin: 7px;
    cursor: pointer;   
    background-color: transparent; 
}


.weekday_header {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    text-align: center;
    font-size: var(--fs-base); /* 16px */
    font-weight: var(--fw-light); /* 300 */
    line-height: var(--lh-tight); /* 120% -> 1.2 */
    letter-spacing: var(--ls-base); /* 0.05em */
    margin-bottom: 15px;
}


.date_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    row-gap: 15px;
    justify-items: center;
}

.date_cell {
    width: 35px; 
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-base); /* 16px */
    line-height: var(--lh-tight); /* 120% -> 1.2 */
    letter-spacing: var(--ls-base); /* 0.05em */
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--c-text-light); /* #DADADA */
}

.date_cell.highlight{
    background-color: var(--c-primary); /* #CCA455 */
}

.date_cell.selected{
    border: 1px solid var(--c-text-main); /* #181818 */
}